.newContainer {
  position: absolute;
  top: 30px;
  left: 67.9rem;
  height: 577px;
  width: 25vw;
  border-radius: 12px;
  padding: 6px;
}
.newdesc {
  position: relative;
  width: 341px;
  bottom: 2px;
  right: 1px;
  height: 195px;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 19px;
  border-bottom-left-radius: 19px;
  background: white;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 18px;
  padding: 20px;
}
.time {
  position: absolute;
  top: 17rem;
  width: 380px;
  height: 158px;
  padding: 25px;
  box-sizing: border-box;
  background-color: rgba(0, 0, 0, 0.74);
}
