.lineOne{
  position: absolute;
  top: 73px;
  left: 13rem;
}
.lineTwo {
  position: absolute;
  top: 73px;
  left: 23.7rem;
}

/* weather */
.weathercontainer {
  position: relative;
  top: 32px;
  left: 15px;
  width: 600px;
  height: 150px;
  background-color: #101744;
  border-radius: 12px;
}
.dateTime {
  display: flex;
  height: 45px;
  background-color: #ff4ade;
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
  color: white;
  justify-content: space-evenly;
  align-items: center;
  font-size: 25px;
  font-weight: 500;
  font-family: "Roboto", sans-serif;
}
.files {
  height: 150px;
  display: flex;
  color: white;
  align-items: center;
  justify-content: space-evenly;
}
.weather {
  position: relative;
  width: 150px;
  height: 50px;
  font-size: 17px;
  bottom: 21px;
  left: 37px;
  font-size: 22px;
  font-family: "Roboto", sans-serif;
}

/* pressure */
.pressureBox {
  position: relative;
  bottom: 75px;
  width: 100px;
  height: 50px;
}
.pressure {
  margin-top: 32px;
  left: 40px;
  width: 100px;
  height: 40px;
  line-height: 40px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 35px;
}
.pres {
  margin-bottom: 25px;
  left: 40px;
  width: 100px;
  height: 40px;
  line-height: 30px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 15px;
}
.prename {
  position: absolute;
  top: 92px;
  right: 41px;
}
.preimg {
  top: 84px;
  right: 108px;
}

/* Wind */
.windBox {
  position: relative;
  bottom: 75px;
  width: 100px;
  height: 50px;
}
.wind {
  margin-top: 45px;
  left: 40px;
  width: 100px;
  height: 40px;
  line-height: 40px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 15px;
}
.windName {
  position: absolute;
  top: 23px;
  right: 64px;
}
.windimg {
  top: 15px;
  right: 105px;
  width: 28px;
  height: 28px;
}

/* Humidity */
.humidityBox {
  position: absolute;
  bottom: 47px;
  width: 100px;
  height: 50px;
}
.humimg {
  top: 55px;
  right: 110px;
  width: 20px;
  height: 28px;
}
.humidity {
  margin-top: 36px;
  left: 40px;
  width: 100px;
  height: 40px;
  line-height: 40px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 15px;
}
.humName {
  position: absolute;
  top: 57px;
  right: 40px;
}
